* {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}

.pagination {
    width: 100%;
    color: #774fac;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: #774fac;
}

.ng-scope {
    height: 100%;
}

.post {
    width: 80rem;
    align-self: center;
}

#centerPageBar {
    margin: auto 0;
}

md-card {
}

md-sidenav {
    height: 100%;
}
#sidebar {
    height: 100%;
    position: absolute;
}

#sidebarCanvasContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#sidebarCanvas {
    background-color: #76ff03;
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.vertical-align {
    vertical-align: middle;
}
