* {
    font-family: 'Roboto', sans-serif;
}

.pagination {
    width: 100%;
    color: #774fac;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: #774fac;
}

.md-card-image {
    height: 7em;
}

#centerPageBar {
    margin: auto 0;
}

.center {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}
