* {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.pagination {
    width: 100%;
    color: #774fac;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: #774fac;
}

.postlist {
    background: rgba(0,0,0,0.0);
}

.post {
    width: 80rem;
    align-self: center;
}

#centerPageBar {
    margin: auto 0;
}

md-card {
}

.center {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.vertical-align {
    vertical-align: middle;
}

.md-title {
    font-size: 20pt;
}

body {
    background: url('http://i.imgur.com/CgrRzHC.png') fixed;
}
