<div layout="row" class="centered" style="width: 90%">
    <md-card style="">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h1>POST EDITOR</h1>
                <span flex></span>
                <md-button ng-click="savePost(item.id)">Save</md-button>
                <md-button ng-click="togglePublished()" class="md-warn">Publish</md-button>
                <md-button ng-click="deletePost()" class="md-warn">Delete</md-button>
            </div>
        </md-toolbar>
        <md-card-content style>
            <div layout="row">
                <md-input-container style="width: 60%">
                    <label for="">Title</label>
                    <input type="text" ng-model="postTitle"/>
                </md-input-container>
                <md-input-container style="width: 20%">
                    <label for="">Date</label>
                    <input type="text" ng-model="postDate"/>
                </md-input-container>
                <span flex></span>
            </div>
            <div style="height: 500px; width: 100%; border-style: solid; border-width: 1px; border-color: #c5cae9">
                <div id="epiceditor" style="height: 100%; width: 100%" >
                </div>
            </div>
        </md-card-content>
    </md-card>


    <md-card>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools" layout="row">
                <h1>POSTS {{numberOfPosts}}</h1>
                <span flex></span>
                <md-button ng-click="newPost()">New</md-button>
            </div>
        </md-toolbar>

        <md-card-content layout-padding style="height: 600px;padding: 24px; overflow-y: auto">
            <div style="" ng-repeat="item in editorposts">
                <md-list-item ng-if="isSelected(item.id)" ng-click="selectPost(item)">
                    <p style="font-weight: bold">{{item.title}}</p>
                    <span style="text-align: right" ng-if="item.published == 1">P</span>
                </md-list-item>
                <md-list-item ng-if="!isSelected(item.id)" ng-click="selectPost(item)">
                    <p>{{item.title}}</p>
                    <span style="text-align: right" ng-if="item.published == 1">P</span>
                </md-list-item>
            </div>
        </md-card-content>
    </md-card>
</div>
