<md-content ng-if="!mobileCheck()" class="md-padding postlist">
    <div class="center">
        <md-card>
            <md-card-content>
                <canvas height=200 width=800 id="particles">Error</canvas>
                <div style="text-align: center">
                    Under construction! :D
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>


<md-content ng-if="mobileCheck()" class="md-padding postlist">
    <md-card>
        <md-card-content>
            <div style="text-align: center">
                Under construction! :D
            </div>
        </md-card-content>
    </md-card>
</md-content>
