<md-content ng-if="!mobileCheck()" class="md-padding postlist">
    <div class="center">
        <md-card>
            <md-card-content>
                <h3 class="md-title">{{ title }}</h3>

                <p ng-bind-html="content"></p>
            </md-card-content>
            <md-divider></md-divider>
            <div class="md-actions" layout="row">
                <p layout-align="start center" style="padding-left: 15px; font-size: 10pt">Posted on: {{ date | date:'mediumDate':'+0600'}} by Braden</p>
                <span flex></span>
                <md-button href="#!/" layout-align="end center">&larr; Go back</md-button>
            </div>
        </md-card>
        <md-card class="md-padding">
            <dir-disqus disqus-shortname="adventurebeard"
                        disqus-identifier="{{ disqusId }}"
                        disqus-title="{{ title }}"
                        disqus-url="{{ disqusUrl }}"
                        ready-to-bind="{{ contentLoaded }}">
            </dir-disqus>
        </md-card>
    </div>
</md-content>

<md-content ng-if="mobileCheck()" class="md-padding postlist">
    <div class="">
        <md-card>
            <md-card-content>
                <h3 class="md-title">{{ title }}</h3>
                <p ng-bind-html="content"></p>
            </md-card-content>
            <md-divider></md-divider>
            <div class="md-actions" layout="row">
                <p layout-align="start center" style="padding-left: 15px; font-size: 10pt">Posted on: {{ date | date:'mediumDate':'+0600'}} by Braden</p>
                <span flex></span>
                <md-button href="#!/" layout-align="end center">&larr; Go back</md-button>
            </div>
        </md-card>
        <md-card class="md-padding">
            <dir-disqus disqus-shortname="adventurebeard"
                        disqus-identifier="{{ disqusId }}"
                        disqus-title="{{ title }}"
                        disqus-url="{{ disqusUrl }}"
                        ready-to-bind="{{ contentLoaded }}">
            </dir-disqus>
        </md-card>
    </div>
</md-content>