
<md-content ng-show="showNavbar">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2>
                <a href="#!/" ng-click="currentPage = 0" class="md-title">adventurebeard.github.io</a>
            </h2>

            <span flex></span>

            <md-button href="#!/about">About</md-button>
            <md-button href="#!/">Blog</md-button>
            <!--<md-button href="#!/resume">Resume</md-button>-->
            <md-button href="#!/soundcloud">SoundCloud</md-button>

        </div>
    </md-toolbar>
</md-content>