
<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <a href="#/" ng-click="currentPage = 0" class="md-title">AdventureBeard</a>
            </h2>

            <span flex></span>

            <div ng-hide="mobileCheck()" ng-repeat="page in pages">
                <md-button href="#/page/{{pages.indexOf(page)}}">{{ page.title }}</md-button>
            </div>

            <div ng-show="mobileCheck()">
                <md-menu>

                    <md-button aria-label="Open menu" class="md-icon-button vertical-align" ng-click="$mdOpenMenu()">
                        <!--<i class="material-icons">menu</i>-->Menu
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item>
                            <a href="#/">Posts</a>
                        </md-menu-item>

                        <md-divider></md-divider>

                        <div ng-repeat="page in pages">

                            <md-menu-item>
                                <a href="#/page/{{pages.indexOf(page)}}">{{ page.title }}</a>
                            </md-menu-item>
                            <md-divider></md-divider>

                        </div>
                    </md-menu-content>

                </md-menu>
            </div>

        </div>
    </md-toolbar>
</md-content>